.profile-image {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  display: inline-block;
}

.user-info {
  display: inline-block;
  padding-left: 28px;
}

.user-name {
  font-family: Arial;
  font-size: 20px;
}

.instagram-button {
  height: 30px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  margin-top: 24px;
  margin-right: 4px;
  padding: 4px 20px;
}

.follow-button {
  color: white;
  background-color: rgb(0, 140, 255);
}

.user-introduction {
  line-height: 17px;
  font-family: Arial;
  font-size: 14px;
  margin-left: 8px;
}

.profile-link {
  text-decoration: none;
  font-weight: bold;
  color: #00376B;
}

.stories {
  display: flex;
}